  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-between h3,
  .flex-between i {
    margin: 0; /* reset margins inside */
  }

  body {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 0 16px; 
    line-height: 1.6; 
    border: 4px solid black;
  }

  h1 {
    text-align: center;
  }